<%= form_with(model: provider, local: true) do |form| %>
  <% if provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(provider.errors.count, "error") %> prohibited this provider from being saved:</h2>

      <ul>
      <% provider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :focus %>
    <%= form.text_field :focus, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :contact %>
    <%= form.text_field :contact, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :phone %>
    <%= form.text_field :phone, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :rfc %>
    <%= form.text_field :rfc, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :website %>
    <%= form.text_field :website, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :reference %>
    <%= form.text_field :reference, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :reference2 %>
    <%= form.text_field :reference2, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :reference3 %>
    <%= form.text_field :reference3, class: 'form-control' %>
  </div>

  <div class="form-group">
    <% if provider.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', provider, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if provider.persisted? %>
      <%= link_to "Cancelar", provider, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancelar", providers_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
