


<div class="row">
  <div class="col-sm-6">
    <h1>Proveedores</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_provider_path, class: 'btn btn-primary' do %>
    Agregar Nuevo Proveedor
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

        <th>Nombre</th>


            <th>Giro</th>
            <th>Contacto</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Rfc</th>
            <th>Correo electrónico</th>
            <th>Sitio Web</th>
            <th>Referencia 1</th>
            <th>Referencia 2</th>
            <th>Referencia 3</th>
            <th>PDF</th>

      </tr>
    </thead>

    <tbody>
      <% @providers.each do |provider| %>
        <%= content_tag :tr, id: dom_id(provider), class: dom_class(provider) do %>

            <td><%= link_to provider.name, provider %></td>


                      <td><%= provider.focus %></td>
                      <td><%= provider.contact %></td>
                      <td><%= provider.address %></td>
                      <td><%= provider.phone %></td>
                      <td><%= provider.rfc %></td>
                      <td><%= provider.email %></td>
                      <td><%= provider.website %></td>
                      <td><%= provider.reference %></td>
                      <td><%= provider.reference2 %></td>
                      <td><%= provider.reference3 %></td>
                      <% if provider.pdf.attached? %>
                        <td><%= link_to provider.pdf.name, rails_blob_path(provider.pdf, disposition: :inline) %></td>
                      <% else %>
                        <td></td>
                      <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
