<div class="page-header">
  <%= link_to providers_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Todos los Proveedores
  <% end %>
  <%= link_to edit_provider_path(@provider), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Show provider</h1>
</div>

<dl class="dl-horizontal">
  <dt><%= Provider.human_attribute_name(:name) %></dt>
  <dd><%= @provider.name %></dd>

  <dt><%= Provider.human_attribute_name(:focus) %></dt>
  <dd><%= @provider.focus %></dd>

  <dt><%= Provider.human_attribute_name(:contact) %></dt>
  <dd><%= @provider.contact %></dd>

  <dt><%= Provider.human_attribute_name(:name) %></dt>
  <dd><%= @provider.address %></dd>

  <dt><%= Provider.human_attribute_name(:phone) %></dt>
  <dd><%= @provider.phone %></dd>

  <dt><%= Provider.human_attribute_name(:rfc) %></dt>
  <dd><%= @provider.rfc %></dd>

  <dt><%= Provider.human_attribute_name(:email) %></dt>
  <dd><%= @provider.email %></dd>

  <dt><%= Provider.human_attribute_name(:website) %></dt>
  <dd><%= @provider.website %></dd>

  <dt><%= Provider.human_attribute_name(:reference) %></dt>
  <dd><%= @provider.reference %></dd>

  <dt><%= Provider.human_attribute_name(:reference2) %></dt>
  <dd><%= @provider.reference2 %></dd>

  <dt><%= Provider.human_attribute_name(:reference3) %></dt>
  <dd><%= @provider.reference3 %></dd>

</dl>
